<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <link rel="stylesheet" href="../static/layui/css/layui.css">
</head>
<body>
<center>
    <ul class="layui-nav" lay-filter="">
        <li class="layui-nav-item"><a href="#" id="pic">试试这个</a></li>
        <li class="layui-nav-item"><a href="#" id="book">还有这个</a></li>
        <li class="layui-nav-item"><a href="#" id="music">这个</a></li>
    </ul>
</center>
<div class="layui-container">
    <div class="layui-row layui-col-space30" style="margin-top: 10px">
        <div class="layui-col-md9 layui-bg-black">
            张小洁同学
            <i class="layui-icon layui-icon-face-smile"></i>
        </div>
        <div class="layui-col-md3 layui-bg-orange">
            Hello！！！
        </div>
    </div>
</div>

{#<button class="layui-btn">button</button>#}
{#<button class="layui-btn" href="https://www.baidu.com">Baidu</button>#}


<script src="../static/layui/layui.all.js"></script>
<script>
    let $ = layui.jquery;

    $('#pic').click(function () {
        {#layer.msg('click');#}
        $.ajax({
            type: 'get',
            url: '/pic',
            success: function (result) {
                console.log(result);
                result = JSON.parse(result);
                layer.msg(result.msg)
            }
        })
    })
        $('#music').click(function () {
        {#layer.msg('click');#}
        $.ajax({
            type: 'get',
            url: '/music',
            success: function (result) {
                console.log(result);
                result = JSON.parse(result);
                layer.msg(result.msg)
            }
        })
    })
        $('#book').click(function () {
        {#layer.msg('click');#}
        $.ajax({
            type: 'get',
            url: '/book',
            success: function (result) {
                console.log(result);
                result = JSON.parse(result);
                layer.msg(result.msg)
            }
        })
    })
</script>
</body>
</html>