<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <link rel="stylesheet" href="../static/layui/css/layui.css">
</head>
<body>
    <center>
    <ul class="layui-nav" lay-filter="">
        <li class="layui-nav-item"><a href="#" id="pic">导航1</a></li>
        <li class="layui-nav-item"><a href="#">导航2</a></li>
        <li class="layui-nav-item"><a href="#">导航3</a></li>
    </ul>
    </center>
    <button class="layui-btn">button</button>
    <button class="layui-btn" href="https://www.baidu.com">Baidu</button>


    <script src="../static/layui/layui.all.js"></script>
    <script>
        let $ = layui.jquery;

        $('#pic').click(function () {
            {#layer.msg('click');#}
            $.ajax({
                type: 'get',
                url: '/pic',
                success:function (result) {
                    console.log(result);
                    result = JSON.parse(result);
                    layer.msg(result.msg)
                }
            })
        })
    </script>
</body>
</html>