<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/layui/css/layui.css">
    <link rel="stylesheet" type="text/css" href="../static/css/index_css.css">
    <title>World</title>
</head>
<body>


<!--导航栏-->
<ul class="layui-nav">
    <div class="layui-row layui-col-lg-offset5 ">
        <li class="layui-nav-item"><a href="#">早上好</a></li>
        <li class="layui-nav-item"><a href="#">中午好</a></li>
        <li class="layui-nav-item"><a href="#">晚上好</a></li>
    </div>

</ul>

<div class="layui-row">
    <!--  内容栏  -->
    <div class="layui-col-md8">

        <!--用户发布信息-->
        <form action="" class="layui-form">
            <div id="publish_info" class="layui-col-lg-offset4 layui-bg-gray">
                <textarea class="layui-textarea" name="content" id="input_textarea" placeholder="请输入..."></textarea>

                <div class="layui-row">
                    <div>
                        <button class="layui-btn" id="publish" lay-submit lay-filter="form_content">发布</button>
                        <button class="layui-btn" type="reset">重置</button>
                    </div>
                </div>
            </div>

        </form>

        <!--展示信息-->
        <div class="layui-row">
            <div id="show_cont" class="layui-col-lg-offset4"></div>
        </div>

    </div>

</div>


</body>
</html>
<script src="../static/layui/layui.all.js"></script>
<script src="../static/js/index_js.js"></script>
